<%# encoding: utf-8 %>
<h1>Posts <a href="/admin/post" title='Create'>+</a></h1>

<ol>
  <% @posts.each do |p| %>
    <li>
      <h2>
        <% unless p['thumbnail'].nil? %>
          <img src="<%= p['thumbnail'] %>" alt="<%= p['title'] %>" />
        <% end %>
        <a href='/admin/post/<%= p['_id'] %>'><%= p['title'] %></a> 
        <form action="/admin/post/<%= p['_id'] %>" method="post" accept-charset="utf-8">
          <input type="hidden" name="_method" value="DELETE" />
          <input type="submit" value="x" title='Delete' />
        </form>
      </h2>
    </li>
  <% end %>
</ol>

<h1>Files <a href="/admin/file" title='Create'>+</a></h1>

<ol>
  <% @files.each do |f| %>
    <li>
      <img src="/file/<%= f['filename'] %>" alt="<%= f['metadata']['description'] %>" />
      <h2>
        <%= f['filename'] %> 
        <form action="/admin/file/<%= f['_id'] %>" method="post" accept-charset="utf-8">
          <input type="hidden" name="_method" value="DELETE" />
          <input type="submit" value="x" title='Delete' />
        </form>
      </h2>
    </li>
  <% end %>
</ol>

